//color variables used in project

$white:#ffffff;
$grayWhite:#FBFBFB;
$black:#000000;
$green :#378575;
$lightGren:#79ec47;
$red:#f93154;
$yellow:#e1e023;
$lightPurple:#b23cfd;
$pinkPurple:#D0B2F6;
$purple: #7c3cfa;
$purpleBlue:#4922b2;
$blue:#1266f1;
$navyBlue:#026b8a;
$skyBlue:#33adc9;
$tableBlue:#AFEEEE;
$borderGray:#c6c6c6;